[submodule "godot"]
	path = EngineSrc-godot
	url = https://github.com/godotengine/godot.git
[submodule "EngineModules/tabletop_club_godot_module"]
	path = EngineModules/tabletop_club_godot_module
	url = https://github.com/drwhut/tabletop_club_godot_module.git
